<div
    data-controller="clickable-card"
    data-clickable-card-url-value="<%= card_url %>"
    data-action="click->clickable-card#navigate"
    class="bg-white rounded-xl shadow-sm p-4 hover:shadow-md transition-shadow overflow-hidden cursor-pointer <%= extra_formatting %>">

    <!-- Card title and date -->
    <div class="flex justify-between items-start">
      <div>
        <div class="flex items-center gap-2">
          <h3 class="text-lg font-semibold text-gray-900"><%= card_name %></h3>
        </div>
        <p class="text-gray-500 text-sm"><%= card_date %></p>
      </div>


    <!-- Edit and delete buttons -->
      <div class="flex gap-2">
        <%= link_to edit_path,
          target: "_top",
          data: { action: "click->clickable-card#stop" },
          class: "icon" do %>
          <%= inline_svg_tag "icons/pencil-line.svg", class: "responsive-icon" %>
        <% end %>
        <%= button_to delete_path, method: :delete, 
          data: { action: "click->clickable-card#stop" },
          class: "icon delete-icon cursor-pointer",
          form: { data: { turbo_confirm: "Are you sure?" } } do %>
          <%= inline_svg_tag "icons/trash-2.svg", class: "responsive-icon" %>
        <% end %>
      </div>
    </div>

    <!-- Custom fields -->
    <%= yield if block_given? %>
</div>
