<% exercise_set = f.object %>

  <tr id="<%= dom_id(exercise_set) %>"
    data-workout-form-target="exerciseSetRow"
    class="exercise-set-fields whitespace-nowrap text-sm text-gray-600 font-medium text-center">

    <td class="table-form-row">
      <span class="visible-set-number">1</span>
      <%= f.hidden_field :set_number,
        value: 1,
        class: 'hidden-set-number' %>
    </td>

    <td class="table-form-row">
      <%= f.number_field :reps,
        placeholder: "Reps",
        class: "table-form-field w-full"
      %>
    </td>

    <td class="table-form-row">
      <div class="table-form-field flex items-center">
      <%= f.number_field :weight,
        placeholder: "Weight"
      %>

      <span class="text-gray-500 pl-2">
        <%= exercise_set.workout_exercise&.workout&.weight_unit || "lbs" %>
      </span>
      </div>
    </td>

    <td class="table-form-row">
      <%= f.text_field :notes,
        placeholder: "Optional",
        class: "table-form-field w-full"
      %>
    </td>

    <td class="table-form-row">
      <%= button_tag type: "button",
        data: { action: "workout-form#removeExerciseSetFromTemplate", exercise_set_id: "#{exercise_set.id}" },
        class: "icon delete-icon cursor-pointer" do %>
        <%= inline_svg_tag "icons/x.svg", class: "responsive-icon" %>
      <% end %>
    </td>

  </tr>
