<%= render "workouts/card_frame",
  card_url: workout_path(workout),
  card_name: workout.name,
  card_date: workout.started_at.to_date,
  edit_path: edit_workout_path(workout),
  delete_path: workout,
  extra_formatting: "" do %>

  <div class="grid grid-cols-2 gap-4 mt-4">
    <div class="flex items-center gap-2 text-gray-700">
      <%= inline_svg_tag "icons/clock.svg", class: "responsive-icon text-gray-400" %>
      <span><%= ((workout.ended_at.to_time - workout.started_at.to_time) / 60).to_i %> min</span>
    </div>
    <div class="flex items-center gap-2 text-gray-700">
      <%= inline_svg_tag "icons/dumbbell.svg", class: "responsive-icon text-gray-400" %>
      <span><%= workout.workout_exercises.count %> exercises</span>
    </div>
  </div>
<% end %>
