<div class="flex flex-col gap-4">
  <div class="flex justify-between mb-4">
    <h1 class="font-bold text-4xl">My Workouts</h1>
    <%= link_to 'New Workout Template',
      new_workout_path,
      class: "bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-150"
    %>
  </div>

  <div class="flex justify-between bg-white px-4 py-2 rounded-xl">
    <div class="flex gap-2">
        <%= link_to url_for(request.path_parameters.merge(request.query_parameters).merge(tab: "completed")),
          data: {turbo_frame: "workouts"} do %>
          <div class="flex items-center text-gray-500 hover:text-indigo-800 hover:bg-indigo-100 rounded-lg font-medium px-4 py-2 gap-2">
            <%= inline_svg_tag "icons/layout-grid.svg", class: "responsive-icon h-5 w-5" %>
            List View
          </div>
        <% end %>

        <%= link_to url_for(request.path_parameters.merge(request.query_parameters).merge(tab: "templates")),
          data: {turbo_frame: "workouts"} do %>
          <div class="flex items-center text-gray-500 hover:text-indigo-800 hover:bg-indigo-100 rounded-lg font-medium px-4 py-2 gap-2">
        <%= inline_svg_tag "icons/notebook-text.svg", class: "responsive-icon h-5 w-5" %>
            Templates
          </div>
        <% end %>

        <%= link_to url_for(request.path_parameters.merge(request.query_parameters).merge(tab: "stats")),
          data: {turbo_frame: "workouts"} do %>
          <div class="flex items-center text-gray-500 hover:text-indigo-800 hover:bg-indigo-100 rounded-lg font-medium px-4 py-2 gap-2">
        <%= inline_svg_tag "icons/chart-no-axes-column-increasing.svg", class: "responsive-icon h-5 w-5" %>
            Stats
          </div>
        <% end %>
    </div>

    <div class="flex gap-4">
      <div class="flex items-center border border-gray-500 text-gray-700 rounded-lg font-medium px-4 py-2 gap-2">
        <%= inline_svg_tag "icons/filter.svg", class: "responsive-icon h-5 w-5" %>
        <%= link_to "Filter", url_for(request.path_parameters.merge(request.query_parameters).merge(tab: "completed")) %>
      </div>
    </div>
  </div>

  <! -- Exercise List changes based off selected tab using turbo frames -->
  <%= render partial: @partial, locals: { workouts: @workouts } %>
</div>
